<%- include('../partials/header') %>

<h2>List of Trainers</h2>
<table>
  <thead>
    <tr>
      <th>Trainer Name</th>
      <th>Pokedex</th>
      <th>Go to Page</th>
    </tr>
  </thead>
  <tbody>
    <% trainers.forEach ((t) => { %>
      <tr>
      <td><%= t.userName %></td>
      <td><%= t.pokedexName %></td>
     <td><a href="/pokedex/<%= t._id %>">Trainer's Pokedex</a></td>
    <% }) %>
    </tr>
  </tbody>
</table>

<%- include('../partials/footer') %>