<%- include('../partials/header') %>

<h1><%= pokemon.name %></h1>
<div class="cardDetail">
<% if (pokemon) { %>
  <% if (user) { %>
    <p> <a href="/pokemon">Return to All Pokemon</a> </p>
    <% } %>
    <%= pokemon.flavor_text_entries[1].flavor_text %> <br>
    <% if (sprite) { %>
    <img src="<%= sprite.sprites.front_default%>">
  <% } %>
  <% } %>
</div>

<a href="/pokemon"> go back</a>


<%- include('../partials/footer') %>

