<%- include('../partials/header') %>

<h2>List of Trainers</h2>
<table>
  <thead>
    <tr>
      <th>Trainer Name</th>
      <th>Pokedex</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <!-- <% user.forEach(function(u) { %>  
      <tr >
        <td><%= u.name %></td>
        <td><%= u.pokedex %></td>
        <td><a href="/PokeViews/<%= u.pokedex._id %>">View Pokedex</a></td>
      </tr>
    <% }); %> -->
  </tbody>
</table>

<%- include('../partials/footer') %>