<%- include('../partials/header') %>
<% pokedex.pokemon.forEach(function(p) { %>
    <%= p.name %>
    <a href="<%= pokedex.id %>/pokemon/<%= p.id %>/details"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= p.dex %>.png">
   </a>
    <br>
   <form action="/pokedex/<%= p.id %>?_method=DELETE" method="POST">
    <button type="submit">X</button>
  </form>
   <% }) %>



<%= pokedex.pokedexName %>
<% if (pokedex.userName === user.name) { %>
<button ><a href="/pokedex/<%= pokedex.id%>/pokemon">Add Pokemon</a></button>
<br>
<br>
<br>
<% } %>

<%- include('../partials/footer') %>