<%- include('../partials/header') %>
<p>HELLO POKEDEX<p>
<%= pokedex.pokedexName %>

<% if (pokedex.userName === user.name) { %>
<button ><a href="/pokedex/<%= pokedex.id%>/pokemon">Add Pokemon</a></button>
<br>
<br>
<br>
<% pokedex.pokemon.forEach(function(p) { %>
   <%= p.name %>
   <a href="<%=pokedex._id%>/pokemon/<%= p.id %>/details"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= p.dex %>.png">
   </a>
   <br>
   <% }) %>

<% } %>

<%- include('../partials/footer') %>