<%- include('../partials/header') %>
<% pokedex.pokemon.forEach(function(p) { %>
    <%= p.name %>
   <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= p.dex %>.png">
   <br>
   <% }) %>



<%= pokedex.pokedexName %>
<% if (pokedex.userName === user.name) { %>
<button ><a href="/pokedex/<%= pokedex.id%>/pokemon">Add Pokemon</a></button>
<br>
<br>
<br>
<% } %>

<%- include('../partials/footer') %>