<%- include('../partials/header') %>
<p>HELLO POKEDEX<p>
<%= pokedex.pokedexName %>

<% if (pokedex.userName === user.name) { %>
<form id="get-pokemon" action="/pokedex/<%=pokedex._id%>" method="POST">
<select name="pokemonId">
    <% pokemon.forEach((p) => {%>
        <option value="<%=p._id%>"><%=p.name%></option>
    <% }) %>
</select>
<button type="submit">Add Pokemon</button>
</form>
<% } %>

<%- include('../partials/footer') %>