<%- include('../partials/header') %>

<a href="javascript:history.back()"> < Go Back </a>
<h1><Details></h1>
  <div class="jumboContainer">
  <div class="jumbotron jumbotron-fluid">
      <% if (pokemon) { %>
        <% if (sprite) { %>
          <div class="row">
            <div class="col-md-4">
              <div class="container">
                <div class="rounded float-left" id="SPRITE"><img class="SPRITE" src="<%= sprite.sprites.front_default%>"></div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="rounded float-right" id="STATS">
                <p>HP: <%= sprite.stats[0].base_stat %></p> 
                <p>ATTACK: <%= sprite.stats[1].base_stat %></p> 
                <p>DEFENSE: <%= sprite.stats[2].base_stat %></p> 
                <p>Sp.ATTACK: <%= sprite.stats[3].base_stat %></p> 
                <p>Sp.DEFENSE: <%= sprite.stats[4].base_stat %></p> 
                <p>SPEED: <%= sprite.stats[5].base_stat %></p> 
                <p>WEIGHT: <%= sprite.weight %> lbs</p> 
              </div>
            </div>
          </div>
        <% } %>
        <div class="row">
            <div class="FLAVOR">
              <div><p><%= pokemon.flavor_text_entries[0].flavor_text %></p></div>
              </div>
            </div>        
      <% } %>
    </div>
  </div>
<!-- delete and add pokemon from pokedex button -->
<% if (userPokedex.pokemon.includes(foundPokemon._id)) { %>
  <br>
  <% if (user.pokedex == userPokedex.id) { %>
    <p>You already have this Pokemon in your Pokedex</p>
  <form action="/pokedex/<%= userPokedex.id%>?_method=DELETE" method="POST">
    <input type="hidden" name="pokemonId" value="<%= pokemon.id %>">
    <button type="submit">Delete Pokemon From My Pokedex</button>
  </form>
  <% } %>
  <% } else { %>
    <form action="/pokedex/<%= userPokedex.id/pokemon %>" method="POST">
      <input type="hidden" name="pokemonId" value="<%= pokemon.id %>">
      <button type="submit">Add This Pokemon To Your Pokedex</button>
    </form>
<% } %>
<!-- delete and add pokemon from pokedex button -->
<%- include('../partials/footer') %>