<%- include('../partials/header') %>

<% if (user) { %>
  <% if (pokedex.userName == user.name) { %>
      <!-- edit pokedex button -->
    <form action="/pokedex/<%= pokedex.id %>/edit" method="GET">
      <button type="submit">Edit Your Pokedex</button>
    </form>
    <!-- edit pokedex button -->
  <% } %>
<% } %>

<h1><%= pokedex.pokedexName %></h1>


<div class="pokedex">
<div class="PokeContainer">
<div class="personalView">
 <% pokedex.pokemon.forEach(function(p) { %>
    <div class="FullCard">
      <div class="card" style="width: 100px;">
        <a href="<%= pokedex.id %>/pokemon/<%= p.id %>/details"><img class="card-img-top" id="PokedexSprite" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= p.dex %>.png" alt="Card image cap">
        </a>
      </div>
    </div>
    <br>
    <br>
    <br>
   <% }) %>
</div>

      <div class="ADDBUTTON">
      <% if (user) { %>
        <% if (pokedex.userName == user.name) { %>
        <button ><a href="/pokedex/<%= pokedex.id%>/pokemon">Add Pokemon</a></button>
        <br>
        <% } %>
      <% } %>
      </div>

</div>
</div>
<%- include('../partials/footer') %>